<!DOCTYPE html>
<html>
    <head>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/static/styles/default.css">
        <script src="/static/js/js.js"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta succ="yumyumyum" type="shlong" eat="holy macaroni that's 1 whet peen"></meta>
    </head>
    <body>
        <div class="container-fluid" id="content">
            <div id="entryArea">
                <input id="valueEntry" type="text">
                <select id="unitEntry">
                    <optgroup label="Length">
                        <option value="metres">Metres</option>
                    </optgroup>
                    <optgroup label="Volume">
                        <option value="metrescubed">Metres^3</option>
                    </optgroup>
                    <optgroup label="Mass">
                        <option value="kg">Kg</option>
                    </optgroup>
                    <optgroup label="Time">
                        <option value="seconds">Seconds</option>
                    </optgroup>
                </select>
                <button id="convertButton">Convert</button>
            </div>
            <div id="thiccLoad">
            </div>
        </div>
    </body>
</html>