.navbar {
    background: black;
    opacity: 0.8;
}

#entryArea {
    max-width: 500px; 
    margin: 0 auto;
}

#outputBox {
    display: none;
    background-color: white;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px 10px;
}

#bot {
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.bot-text {
    margin: auto;
    padding-top: 10px;
    color: white;
}

#botImage {
    max-width: 100%;
    width: 400px;
}

#content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

body {
    background-image: url("/static/img/techBackground.jpg");
}

.disclaimer {
    font-size: 0.75em;
    margin: 0;
}

footer {
    color: white;
}

footer p {
    margin: 0;
}